.Navbar {
  margin: 0;
  padding: 0;
  height: 10vh;

}
.Navbardetail {
  max-width:1200px;
  height:100%;
  margin: 0 auto;
  display:flex;
  /* justify-content:space-between; */
}
.Navbar_Logo{
  width:40%;
  height: auto;
  display:flex;
 
}
.Navbar_Detail {
  width:60%;
  height: auto;
  display:flex;
 
}
.Navbar_Logo > img {
  max-width:100%;
  height: 10vh;
}

.MarginCenterProp {
  width:100%;
  margin:auto;
}
.NavbarMenu {
  display:flex;
  justify-content:space-between;
}
.ListItemMenu {
  display:flex;
  padding:0;
}
.ItemMenu,.ButtonContactNavMenu {
  display:block;
  padding: 0 2rem;
 
}
.ButtonContactNavMenu {
  background-color:var(--black);
  border-radius: 5px;
  color: var(--text-white);
  font-size: var(--fz-text-btn);
  font-weight:bold;
}
 